<li>
	{{burger_name}}

	{{#if devoured}}<button class="delete-burger" data-id="{{this.id}}">Chuck It!</button>{{else}}<button class="devour-burger" data-id="{{id}}" data-eatBurger="{{devoured}}">
		Chow Down!
	</button>{{/if}}

	{{!-- <button class="delete-burger" data-id="{{this.id}}">Chuck It!</button> --}}
</li>
