<li>
	{{burger-name}}

	<button class="devour-burger" data-id="{{id}}" eatBurger="{{devoured}}">
		{{#if devoured}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
